<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "INSPIR'HER", "#", class: "title"%>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "NOTRE PROJET", "#",class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "PORTRAITS DE FEMMES", "#",class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "LE PARCOURS", "#",class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "CONTACT", "#",class: "navbar-wagon-item navbar-wagon-link"%>
  </div>
</div>


<!-- Profile picture and dropdown -->
<!-- Dropdown list appearing on mobile only -->


